<!-- <ion-header>
  <ion-toolbar>
    <ion-icon name="back" class="ion-padding-horizontal" slot="start" (click)="goback()"></ion-icon>
    <ion-title>Mes Infos</ion-title>
  </ion-toolbar>

</ion-header> -->

<ion-content danger>
 
  
  <ion-list class="ion-padding ion-margin" style="margin-bottom: 5vh">
    <ion-item routerLink="/edit-profile">
      <ion-label class="ion-text-wrap">
      Modifier profil
      </ion-label>
      <ion-icon item-end name="arrow-forward" class="icon"></ion-icon>
    </ion-item>
    <!-- <ion-item routerLink="/params">
      <ion-label class="ion-text-wrap">
        Mon Entreprise
      </ion-label>
      <ion-icon item-end name="arrow-forward" class="icon"></ion-icon>
    </ion-item> -->
    <!-- <ion-item lines="none" routerLink="/edit-pass-word">
      <ion-label class="ion-text-wrap">
      Modifier mot de passe
      </ion-label>
      <ion-icon item-end name="arrow-forward" class="icon"></ion-icon>
    </ion-item> -->
    <ion-item (click)="logOut()" lines="none" class="out">
      <ion-label class="ion-text-wrap">
        Déconnexion
      </ion-label>
      <ion-icon item-end name="log-out" class="icon"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>
   
