<ion-content>
  <div class="banner">
    <ion-text>
      <h1>Mot de passe oublié</h1>
    </ion-text>
  </div>
 <ion-grid class="loginform">
   <ion-row class="ion-margin">
     <ion-col size="12">
       <ion-item>
         <ion-label position="floating">E-Mail</ion-label>
         <ion-input type="text" id="mail"></ion-input>
       </ion-item>
     </ion-col>
   </ion-row>
   <ion-row class="ion-margin"> 
     <ion-col size="4">
       <ion-text color="primary" class="ion-text-nowrap">
        Recuperer 
       </ion-text>
     </ion-col>
     <ion-col size="4" offset="4">
       <ion-button (click)="onClick()">
         <ion-icon slot="icon-only" name="arrow-forward-outline"></ion-icon>
       </ion-button>
     </ion-col>
   </ion-row>
 </ion-grid>

</ion-content>
